# Created at https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Generated using terminal, use the command:
# openssl rand -base64 32
NEXTAUTH_SECRET=

# Can't use localhost. Just use this. 
NEXTAUTH_URL=http://127.0.0.1:3000
